html {
    background: url(https://images.unsplash.com/photo-1544829728-e5cb9eedc20e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1740&q=80) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1{
    margin-top: 7%;
    text-align: center;
    font-size: 40px;
}

.zip-form{
    text-align: center;
    padding-top: 5%;
}

table{
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
    background-color: bisque;
    border-collapse: separate;
    border-spacing: 75px 25px;
}




