<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:p="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather Display</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <nav th:replace="base-template :: navbar"></nav>
    <h1>Here is the weather for <span th:text="${zip}"></span> for the next <span th:text="${numdays}"></span> day(s).</h1>

    <table id = mytable class="table table-dark">
        <thead>
        <tr>
            <th scope="col">Day</th>
            <th scope="col">Temperature</th>
            <th scope="col">Forecast</th>
            <th scope="col"></th>
        </tr>
        </thead>

    </table>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>